* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(160, 185, 206);
}
h1 {
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Exo 2', sans-serif;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 0 auto;
}
h2 {
  padding-bottom: 5px;
  padding-top: 3px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Exo 2', sans-serif;
}
#notification {
  visibility: hidden;
  height: 25px;
}
#generate-button-container {
  display: flex;
  justify-content: center;
}
#copy-button-container {
  display: flex;
  justify-content: center;
}
#generate-background {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  font-family: 'Exo 2', sans-serif;
}
#generate-background:hover {
  background-color: rgba(255, 255, 255, 0.219)
}
#copy-button {
  text-align: center;
  /* margin-top: 1vh; */
  /* margin-bottom: 1vh; */
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  font-family: 'Exo 2', sans-serif;
  visibility: hidden;
}
#copy-button:hover {
  background-color: rgba(255, 255, 255, 0.219)
}
#copy-button:active {
  background-color: white;
}
#picture {
  display: flex;
  justify-content: center;
}
img {
  aspect-ratio: 16 / 9;
  height: 60vh;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
